Kamek/Build
Kamek/processed
Kamek/NewerASM
Kamek/kamek_pal2.x
Kamek/kamek_ntsc.x
Kamek/kamek_ntsc2.x
Kamek/kamek_jpn.x
Kamek/kamek_jpn2.x
Kamek/NewProject.yaml
Kamek/tools/__pycache__
Kamek/tools/devkitPPC
Kamek/tmp
Kamek/- Build2 -.bat
Layouts/fonts
Level Previews
Music
DiaryLog.txt
Maps/Unused
