Kamek/processed
Kamek/NewerASM
Kamek/scrappedcode
Kamek/tools/kamek_pal2.x
Kamek/tools/kamek_ntsc.x
Kamek/tools/kamek_ntsc2.x
Kamek/tools/kamek_jpn.x
Kamek/tools/kamek_jpn2.x
Kamek/tools/kamek_kor.x
Kamek/tools/__pycache__
Kamek/tools/devkitPPC
Kamek/tmp
Layouts/fonts
Level Previews
Music
Credits.txt
DiaryLog.txt
LevelReport.txt
ToDel.txt
Maps/Unused
